<!-- UPLOAD TRACKS -->
<div class='col m8'>
  <div id='uploader' >

    <h3>Tracks <i class='material-icons right wave-effect' ng-click='currentUpload.addTrack()' ng-show='uploadStep == 2'>queue</i></h3>

      <li>
          <div class='collection-item' ng-repeat='track in currentUpload.createdTracks'>

                <div class='row'>
                  <div class='col m1 valign-wrapper'>
                        <strong class='valign'>{{track.trackNum}}</strong>
                      </div>
                      <div class='col m7'><span contenteditable="true" ng-blur='currentUpload.update(track, $event)'>{{track.trackName}}</span></div>

                      <!-- pull-right is reversing these!!! -->
                      <div class='col m1 offset-m2'>
                        <!-- <input type='text' ng-model='track.begin' placeholder='Start time' /> -->
                        <span>{{track.begin}}</span>
                      </div>
                      <div class='col m1'>
                        <!-- <input type='text' ng-model='track.stop' placeholder='Stop time' /> -->
                        <span>{{track.stop}}</span>
                      </div>

                  </div>


          </div>
          </li>


  </div>
</div>
