<nav-bar></nav-bar>

<div class='subtle-container'>
	<div class='row'>
	<!-- GUIDE -->
	<div  ng-class="possibleMasters.length || possibleArtists.length ? 'col m4 offset-m2' : 'col m4 offset-m4'">
		<div id='upload-video'>
		        <h3>Select Video</h3>
						<div class=''>

		        <ul class='collection'>
		            <li><input id='videoId' type='text' class='collection-item' placeholder='Youtube Video Url' ng-model='videoUrl' /></li>
		            <li><input id='artistName' type='text' class='collection-item' placeholder='Artist Name' ng-model='artistName' /></li>
		            <li><input id='albumName' type='text' class='collection-item' placeholder='Album Name' ng-model='albumName' /></li>
		</ul>
	</div>

		<input type='button' class='btn btn-success' value='Submit' ng-click='checkDiscogsForUpload()'></input>
		<input type='button' class='btn btn-danger' value='Reset' ng-click='resetUpload()'></input>

		</div>
	</div>

	<!-- possible discogs masters -->
	<div class='col m6'>
		<div ng-show='possibleMasters.length'>
			<h4>Is one of the following the correct release?</h4>
			<a class='btn' ng-click='checkDiscogsForArtist()'>These releases are by the wrong artist!</a>
			<ul>
				<li ng-repeat='master in possibleMasters track by $index'><a href='' ng-click='useDiscogsMaster(master)'><master-tile></master-tile></a></li>
			</ul>
	</div>

		<div ng-show='possibleArtists.length'>
			<h4>Is one of the following the correct artist?</h4>
			<ul>
				<li ng-repeat='artist in possibleArtists'><a href='' ng-click='getArtistReleases(artist)'><artist-chip></artist-chip></a></li>
			</ul>
	</div>
	</div>

	<!-- END GUIDE -->



	<!-- END UPLOAD TRACKS -->
	</div>
</div>

<player></player>
