<nav-bar></nav-bar>

<div ng-init='init()' class='subtle-container'>
	<div ng-hide='videoInfo !== undefined' class='row'>
	<!-- GUIDE -->
	<div  class='col s12'>
		<div id='upload-video'>
		        <h3>Select Video</h3>
						<div class=''>

		        <ul class='collection'>
		            <li><input id='videoId' type='text' class='collection-item' placeholder='Youtube Video Url' ng-model='videoUrl' ng-change='checkForVideo()' /></li>
		</ul>
	</div>



		</div>
	</div>
</div>
	<!-- possible discogs masters -->
	<div class='row'>
		<div class='col m6'>
			<div class="card" ng-show='videoInfo'>
				 <div class="card-image waves-effect waves-block waves-light">
					 <img class="activator" ng-src="{{videoInfo.thumbnails.high.url}}">
				 </div>
				 <div class="card-content">
					 <span class="card-title activator grey-text text-darken-4">{{videoInfo.title}}<i class="material-icons right">more_vert</i></span>
					 <p><a ng-href="{{videoUrl}}" target='none'>See video on Youtube</a></p>
				 </div>
				 <div class="card-reveal">
					 <span class="card-title grey-text text-darken-4">{{videoInfo.title}}<i class="material-icons right">close</i></span>
					 <p>{{videoInfo.description}}.</p>
				 </div>
			 </div>

		</div>

	<div class='col m6' ng-show='videoInfo'>
		<div ng-hide='possibleMasters.length'>
		<h4>Release details</h4>
		<ul class='collection'>
			<li><input id='artistName' type='text' class='collection-item' placeholder='Artist Name' ng-model='artistName' /></li>
			<li><input id='albumName' type='text' class='collection-item' placeholder='Album Name' ng-model='albumName' /></li>
		</ul>
		<input type='button' class='btn btn-success' value='Submit' ng-click='checkDiscogsForUpload()'></input>
		<input type='button' class='btn btn-danger' value='Reset' ng-click='resetUpload()'></input>
	</div>
		<div ng-show='possibleMasters.length'>
			<h4>Is one of the following the correct release?</h4>
			<a class='btn' ng-click='checkDiscogsForArtist()'>These releases are by the wrong artist!</a>
			<ul>
				<li ng-repeat='master in possibleMasters track by $index'><master-tile></master-tile></li>
			</ul>
	</div>

		<div ng-show='possibleArtists.length'>
			<h4>Is one of the following the correct artist?</h4>
			<ul>
				<li ng-repeat='artist in possibleArtists'><a href='' ng-click='getArtistReleases(artist)'><artist-chip></artist-chip></a></li>
			</ul>
	</div>
	</div>

	<!-- END GUIDE -->

</div>

	<!-- END UPLOAD TRACKS -->
	</div>
</div>

<player></player>
