<footer  ng-show='somethingToPlay()' class='page-footer'>
<div id='bottom'>

    <div class='row'>


            <div id='controls' class='col m4 offset-s1' ng-show='getActiveTrack()'>

              <div class='valign-wrapper'>
                <i class='medium material-icons player-control' ng-click='back()' ng-dblclick='backBack()'>skip_previous</i>
                <i class="medium material-icons player-control" ng-click='playToggle()'>{{getIsPlaying() ? "pause_circle_filled" : "play_circle_outline" }}</i>
                <i class='medium material-icons player-control' ng-click='next()'>skip_next</i>
                &nbsp;
                <span id='playtime' class=''>{{secToMinSec(progress)}}</span>
                <span id='totalTime' class=''>/ {{secToMinSec(getActiveTrack().stop - getActiveTrack().begin)}}</span>

              </div>

            </div>

            <div class='col m8'>
              <div class='valign-wrapper'>
            <input type='range' class='valign' id='progress' min='0' max='{{getActiveTrack().stop - getActiveTrack().begin}}' ng-model='progress' ng-change='scrub()'/>
          </div>
            </div>

        </div>


</footer>
