<!-- <div class='player-spacer'>
</div> -->
<footer   class='page-footer' ng-show='somethingToPlay()'>
<div id='bottom'>
    <div class='row'>
            <div id='controls' class='col m3 offset-s1 offset-m1 valign-wrapper'>
                <i class='medium material-icons player-control action valign' ng-click='back()' ng-dblclick='backBack()'>skip_previous</i>
                <i class="medium material-icons player-control action" ng-click='playToggle()'>{{getIsPlaying() ? "pause_circle_filled" : "play_circle_outline" }}</i>
                <i class='medium material-icons player-control action' ng-click='next()'>skip_next</i>
                &nbsp;
                <span id='playtime' class=''>{{secToMinSec(getProgress())}}</span>
                <span id='totalTime' class=''>/ {{secToMinSec(getActiveTrack().stop - getActiveTrack().begin)}}</span>

            </div>

            <div class='col m7 valign-wrapper'>
            <input type='range' class='valign' id='progress' min='0' max='{{getActiveTrack().stop - getActiveTrack().begin}}' ng-model='progress' ng-change='scrub()'/>
            </div>

        </div>


</footer>
