html, body, #container { height: 100%;}
body > #container { height: auto; min-height: 100%;}

body {
    max-height: 100%;
}

.panel-body {
    max-height: 400px;
    overflow: scroll;
}


#playlists, #results {
    height: 490px;
}

#main {
    height: 100%;
}

#controls {
    color: white;
    font-size: 32px;
}

#progress {
    margin-top: 1em;
    margin-bottom: 1em;
    
}

#bottom {
    vertical-align: middle;
    clear: both;
    position: absolute;
    z-index: 10;
    /*height: 3em;*/
    /*margin-top: -3em;*/
    background-color: black;
    width: 100%;
    bottom: 0;

}

#underwear {
    background-color: black;
}

::selection { 
    background: none;
}

.list-item i {
    margin-right: 7px;
}

.list-item:hover {
    position: relative;
    top: -4px;
    right: -4px;
    cursor: pointer;
}

.track-length {
    color: grey;
}

.selected {
  font-weight: bold;
}

.selected hr {
  border: solid;
  border-width: 1px;
}

#totalTime {
  font-weight: normal;
  font-size: 12px;
}

#player {
  display: none;
}


