::selection {
    background: none;
}


body {
  height:100%; /* fix height to 100% for IE */
  max-height:100%; /* fix height for other browsers */
  /*overflow:hidden; /*get rid of scroll bars in IE */*/
  padding:0; /*remove padding */
  margin:0; /* remove margins */
  border:0; /* remove borders */
}

.page-footer {
  position: fixed;
  bottom: 0px;
}

#footer {}

.player-spacer {
  position: relative;
  	margin-top: -80px; /* negative value of footer height */
  	height: 100px;
  	clear:both;
}
body {
  margin: 0 0 60px;
}

footer {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0px;
}

.nested-music-list {
    max-height: 380px;
    overflow: scroll;
}

#main {
    height: 100%;
}

.scroll-container {
  max-height: 400px;
  overflow: scroll;
}



.tile-rack {
  overflow: visible;
}

/*.card-image {
  height: 150px;
}*/

#controls {
    color: white;
    /*font-size: 32px;*/
}

.action:hover {
  cursor: pointer;
}

.collection-item:hover {
    cursor: pointer;
}

.hidden-controls {
  display: none;
}

.collection-item:hover .hidden-controls { display:inline; }
.collection-item:hover .detail { display:none; }

.material-icons {
  margin-right: 7px;
}

.player-control, #playtime, #totalTime {
  /*bottom:80px;
  position:sticky;*/
}

.artist-name {
  display: inline;
  width: 20px;
}

.detail {
  float:clear;
  display:inline;
}

.edit {
  width: 20px;
}

.fa {
  margin: 3px;
}


.album-cover {
  /*min-height: 300px;
  max-height: 300px;*/
  width: 10vw;
  max-height: 45vh;
  min-height: 45vh;
  object-fit: cover;
}

.album-cover-frame {
  max-width: 20vw;
  max-height: 45vh;
  min-height: 45vh;
  overflow: hidden;
}

.album-tile {
  /*max-height: 300px;*/
  max-height:45vh;
  min-height: 45vh;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.album-tile-content {
  max-height: 275px;
  overflow: hidden;
}

.master-tile {
  width: 10vw;

}

.icon-list {
  display: block;
}

.large-icon {
  font-size: 68px;
}

.icon-list > li {
  float: left;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 0px;
  margin-left: 4px;
}



.list-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.small-pic {
  max-height: 50px;
  margin-top: 12px;
  margin-bottom: -6px;
}

.danger {
  color: red;
}

.list-header a.contrast {
  color: white;
}

.list-header small {
  font-size: 14px;
  vertical-align: middle;
}

.list-header small i {
  vertical-align: middle;
}

.list-header img {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}

.list-header div.col {
  min-height: 300px;
}

.playlist-img-container {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}

.playlist-img-container a i {
  position: relative;
  bottom: 36px;
  right: 0px;
}

.playlist-img-container input {
  position: relative;
  bottom: 52px;
  background-color: white;

}

.list-header.home {
  padding-top: 8px;
  padding-bottom: 8px;
}

.list-header img.home {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
}

.list-header h4 {

  max-width: 45vw;
}



/*this is shitty*/
.mini-control-panel {
  display: inline-block;
  padding: 2px;
  padding-left: 8px;
  padding-top: 8px;
  border-radius: 20px;
  vertical-align: middle;
}

.subtle-container {
  padding-left: 20px;
  padding-right: 20px;
  /*max-height: 550px;
  overflow-x: scroll;*/
}


.thumb {
  height: 200px;
  width: 200px;
}

.in-my-crate {
  color: red;
}

.recently-listened-item {
  max-width: 300px;
}


input.edit-h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}

.tag-subtext {
  font-size: 10px;
}
