::selection {
    background: none;
}



body {
  background-color: rgb(240, 240, 240);
  min-width: 400px;
  min-height: 600px;
  height:100%; /* fix height to 100% for IE */
  max-height:100%; /* fix height for other browsers */
  /*overflow:hidden; /*get rid of scroll bars in IE */*/
  padding:0; /*remove padding */
  margin:0; /* remove margins */
  border:0; /* remove borders */
}

header.my-crate, main.my-crate, footer.my-crate {
      padding-left: 300px;
    }

@media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

.page-footer {
  position: fixed;
  bottom: 0px;
}

.naked {
  padding: none;
  margin: none;
}

.grad {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #1a237e, #3949ab); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #1a237e, #3949ab); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #1a237e, #3949ab); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #1a237e, #3949ab); /* Standard syntax */
}

#footer {}

#bottom {
  background: linear-gradient(to bottom right, #1a237e, #3949ab);
}

.player-spacer {
  position: relative;
  	margin-top: -80px; /* negative value of footer height */
  	height: 100px;
  	clear:both;
}
body {
  margin: 0 0 60px;
}

footer {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0px;
}

.nested-music-list {
    max-height: 380px;
    overflow: scroll;
}

.inline-list > li {
  float: left;
}

#main {
    height: 100%;
}

.scroll-container {
  max-height: 400px;
  overflow: scroll;
}

.tile-rack {
  overflow: visible;
}

/*.card-image {
  height: 150px;
}*/

#controls {
    color: white;
    /*font-size: 32px;*/
}

.player-control {
  margin-top: -7px;
}

#progress {
  margin-top: 24px;
}

.action:hover {
  cursor: pointer;
}

.crate-line-item {
  cursor: pointer;
}

.crate-line-item:hover {
  background-color: rgba(230,230,230,1);
}

.collection-item:hover {
    cursor: pointer;
}

.hidden-controls {
  display: none;
}

.crate-line-item:hover .hidden-controls { display:inline; }
.crate-line-item:hover .detail { display:none; }

.material-icons {
  margin-right: 7px;
}



.artist-name {
  display: inline;
  width: 20px;
}

.detail {
  float:right;
  display:inline;
}

.edit {
  width: 20px;
}

.fa {
  margin: 3px;
}


.album-cover {
  /*min-height: 300px;
  max-height: 300px;*/
  width: 20vw;
  max-height: 45vh;
  min-height: 45vh;
  object-fit: cover;
}

.crate-album-cover {
  width: 100%;
  height: 100%;
  min-height: 20vh;
}

.cover-wrap {
  position: relative;
  margin-bottom: 8px;
  width: 100%;
  height: 100%;
  /*height: 25%;*/
  /*width: 25%;*/
}
.cover-controls {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: #fff;
  padding: 10px;

  /*remove comment if you want a gradual transition between states
      -webkit-transition: visibility opacity 0.2s;
      */
}

#trans.trans {
  background-color: rgba(96,125,139, 0.7);
}

#trans.trans:hover {
  background-color: rgba(96,125,139, 1);
}

.hidden-cover-controls {
  visibility: hidden;
  opacity: 0;
}

.cover-wrap:hover .hidden-cover-controls {
  visibility: visible;
  opacity: 1;
}

.cover-play {
  position: relative;
  left: 26%;
  font-size: 130px;
}

.album-cover-frame {
  max-width: 20vw;
  max-height: 45vh;
  min-height: 45vh;
  overflow: hidden;
}

.tinted {
  background: rgba(0, 0, 0, .5);
}

.album-tile {
  /*max-height: 300px;*/
  max-height:45vh;
  min-height: 45vh;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.album-tile-content {
  max-height: 275px;
  overflow: hidden;
}

.master-tile {
  width: 10vw;

}

.icon-list {
  display: block;
}

.large-icon {
  font-size: 68px;
}

.icon-list > li {
  float: left;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 0px;
  margin-left: 4px;
}



.list-header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #81d4fa;
}

.small-pic {
  max-height: 50px;
  margin-top: 12px;
  margin-bottom: -6px;
  margin-left: 20px;
}

.line-item-pic {
  max-height: 50px;
  margin-top: 6px;
  margin-left: -12px;
}

.danger {
  color: red;
}

.list-header a.contrast {
  color: white;
}

.list-header small {
  font-size: 14px;
  vertical-align: middle;
}

.list-header small i {
  vertical-align: middle;
}

.list-header img {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}

.list-header div.col {
  min-height: 300px;
}

.playlist-img-container {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}

.playlist-img-container a i {
  position: relative;
  bottom: 36px;
  right: 0px;
}

.playlist-img-container input {
  position: relative;
  bottom: 52px;
  background-color: white;

}

.list-header.home {
  padding-top: 8px;
  padding-bottom: 8px;
}

.list-header img.home {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
}

.list-header h4 {

  max-width: 45vw;
}



/*this is shitty*/
.mini-control-panel {
  display: inline-block;
  padding: 2px;
  padding-left: 8px;
  padding-top: 8px;
  border-radius: 20px;
  vertical-align: middle;
}

.subtle-container {
  padding-left: 20px;
  padding-right: 20px;
  /*max-height: 550px;
  overflow-x: scroll;*/
}


.thumb {
  height: 200px;
  width: 200px;
}

.in-my-crate {
  color: red;
}

.recently-listened-item {
  max-width: 300px;
}


input.edit-h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}

.tag-subtext {
  font-size: 10px;
}
