/*html, body, #container {
  height: 100%;
}*/

/*body > #container {
  height: auto; min-height: 100%;
}*/

::selection {
    background: none;
}

/*
body {
    max-height: 100%;
}*/

body {
  height:100%; /* fix height to 100% for IE */
  max-height:100%; /* fix height for other browsers */
  /*overflow:hidden; /*get rid of scroll bars in IE */*/
  padding:0; /*remove padding */
  margin:0; /* remove margins */
  border:0; /* remove borders */
}

.page-footer {
  position: fixed;
  bottom: 0px;
}

#footer {}

.player-spacer {
  position: relative;
  	margin-top: -80px; /* negative value of footer height */
  	height: 100px;
  	clear:both;
}
body {
  margin: 0 0 40px;
}

footer {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0px;
}

.nested-music-list {
    max-height: 380px;
    overflow: scroll;
}

#main {
    height: 100%;
}

.container {
  max-height: 400px;
  overflow: scroll;
}

.tile-rack {
  overflow: scroll;
}

/*.card-image {
  height: 150px;
}*/

#controls {
    color: white;
    /*font-size: 32px;*/
}

.collection-item:hover {
    cursor: pointer;
}

.hidden-controls {
  display: none;
}

.collection-item:hover .hidden-controls { display:inline; }
.collection-item:hover .detail { display:none; }

.material-icons {
  margin-right: 7px;
}

.player-control, #playtime, #totalTime {
  /*bottom:80px;
  position:sticky;*/
}

.artist-name {
  display: inline;
  width: 20px;
}

.detail {
  float:clear;
  display:inline;
}

.edit {
  width: 20px;
}

.fa {
  margin: 3px;
}


.album-cover {
  min-height: 300px;
}

.icon-list {
  display: block;
}

.icon-list > li {
  float: left;
  margin: 5px;
}



.list-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.list-header small {
  font-size: 14px;
  vertical-align: middle;
}

.list-header small i {
  vertical-align: middle;
}

.list-header img {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}

/*this is shitty*/
.mini-control-panel {
  display: inline-block;
  padding: 2px;
  padding-left: 8px;
  padding-top: 8px;
  border-radius: 20px;
  vertical-align: middle;
}

.subtle-container {
  padding-left: 20px;
  padding-right: 20px;
  /*max-height: 550px;
  overflow-x: scroll;*/
}

.read-more {
  max-height: 150px;
  overflow: hidden;
}

.thumb {
  height: 200px;
  width: 200px;
}

.material-icons.edit {
  font-size: 14px;
  padding: 0px;
  padding-left: 4px;
  margin: 0px;

}

input.h3-edit {
  font-size: 44px;
  text-align: left;
  height: 42px;
  padding: 1px;
  margin: 0px;
  margin-bottom: 12px;
  margin-top: 24px;
  border: none;

}

input.text-edit {
  margin: 0px;
  margin-bottom: -40px;
}
