<div class="col s12 m4">
  <div class="cover-wrap">

        <img class="crate-album-cover" ng-src="{{album.imgUrl || playlist.imgUrl || albumImgPlaceHolder }}">
        <div class="cover-controls hidden-cover-controls tinted">
          <!-- just for tinting -->
        </div>
        <div class="cover-controls">
          <strong>{{album.name}}</strong><br>
          <small>{{album.artist}}</small>
        </div>
        <a ng-href='/album/{{album._id}}'>
          <div class='cover-controls hidden-cover-controls valign-wrapper'>
            <i ng-click='playToggle($event)' class='material-icons valign cover-play action'>{{ isActiveList() && PlayCtrl.getIsPlaying() ? 'pause' : 'play_circle_outline' }}</i>
          </div>
        </a>

  </div>
</div>
