<!-- <div class="col s12">
  <div class="row">

    <div class="col s2 m1">
      <img ng-src="{{album.imgUrl}}" class='line-item-pic' alt="">
    </div>
    <div class="col s10">
      <ul class=''>
        <li>{{album.name}}</li>
        <li>{{album.artist}}</li>
      </ul>
    </div>
  </div>
  <hr>
</div> -->

<div class='col s12 crate-line-item'>
  <a ng-href='/album/{{album._id}}'>
    <div class="row collection-item crate-line-item">
      <div class="col s2 m1">
        <img ng-src="{{album.imgUrl}}" class="line-item-pic" alt="">
      </div>
      <div class="col s10">
        <ul>
          <li>{{album.name}}</li>
          <li><small>{{album.artist}}</small></li>
        </ul>
      </div>
    </div>

  </a>
</div>
