<div id='results' class='panel panel-default'>
                <div class='panel-heading'>
                    <h3>{{PlayCtrl.activeList.artistName}} : {{PlayCtrl.activeList.albumName}}</h3>
                </div>
                <div class='panel-body'>
                    <ul class='list-unstyled tracklist' >
                        <div class='list-item' ng-class='{selected: PlayCtrl.isActiveTrack(track)}' ng-repeat='track in PlayCtrl.activeTracks'>
                            <li>
                                <div><i ng-click='PlayCtrl.isActiveTrack(track) ? PlayCtrl.playToggle() : PlayCtrl.setTrack(track)' ng-class="PlayCtrl.isActiveTrack(track) && PlayCtrl.isPlaying ? 'glyphicon glyphicon-pause' : 'glyphicon glyphicon-play'"></i><span ng-click='PlayCtrl.isActiveTrack(track) ? PlayCtrl.playToggle() : angular.noop()' ng-dblclick='PlayCtrl.setTrack(track)'>{{track.trackName}}<span class='pull-right track-length'>{{PlayCtrl.secToMinSec(track.stop - track.begin)}}</span></span></div>
                            </li>
                            <li><hr></li>
                        </div>
                        
                        
                        
                    </ul>
                </div>
            </div>



<!--             ng-class='{selected: PlayCtrl.isActiveTrack(track)}' -->