<div id='results' class='panel panel-default'>
                <div class='panel-heading'>
                    <h3>{{PlayCtrl.currentList.artistName}} : {{PlayCtrl.currentList.albumName}}</h3>
                </div>
                <div class='panel-body'>
                    <ul class='list-unstyled tracklist' >
                        <div ng-class='{selected: PlayCtrl.isCurrentTrack(track)}' ng-repeat='track in PlayCtrl.tracks()' ng-dblclick='PlayCtrl.setTrack(track)'>
                            <li>
                                <div class='list-item'><i ng-class="PlayCtrl.isCurrentTrack(track) && PlayCtrl.isPlaying ? 'glyphicon glyphicon-pause' : 'glyphicon glyphicon-play'"></i>{{track.trackName}}<span class='pull-right'>{{PlayCtrl.secToMinSec(track.runTime())}}</span></div>
                            </li>
                            <li><hr></li>
                        </div>
                        
                        
                        
                    </ul>
                </div>
            </div>



<!--             ng-class='{selected: PlayCtrl.isCurrentTrack(track)}' -->