<nav-bar></nav-bar>
<main>

<div class='row'>
<!-- SAVED PLAYLISTS -->
	<div class='col m4'>
		<div id='playlists'>
					<h3>Playlists<a href=''><i class='material-icons right'>queue</i></a></h3>
		                <div class='collection music-list'>
		                            <album-item ng-repeat='album in PlayCtrl.getLists()'></album-item>
		                </div>

		        </div>`
		    </div>
		<!-- END SAVED PLAYLISTS -->

		<!-- CURRENT PLAYLIST -->
	<div class='col m8 s12'>
		<div class='results'>

		                <h3 class='truncate'>{{PlayCtrl.getActiveList().artist}} : {{PlayCtrl.getActiveList().name}}</h3>


		                <div class='collection music-list' >

		                        <list-song-item></list-song-item>



		                </div>

		        </div>
	</div>
<!-- END CURRENT PLAYLIST -->
</div>

</main>

<player></player>
