<nav-bar></nav-bar>
<main>

<div class='row'>
<!-- SAVED PLAYLISTS -->
	<div class='col m4'>
		<div id='playlists'>
					<h3>Playlists<a href='' ng-click='PlayCtrl.createList()'><i class='material-icons right'>queue</i></a></h3>
		                <div class='collection music-list'>
		                            <playlist-item ng-repeat='list in PlayCtrl.getLists()'></playlist-item>
		                </div>

		        </div>`
		    </div>
		<!-- END SAVED PLAYLISTS -->

		<!-- CURRENT PLAYLIST -->
	<div class='col m8 s12'>
		<view-album ng-show='!PlayCtrl.viewingPlaylist()'></view-album>
		<view-playlist ng-show='PlayCtrl.viewingPlaylist()'></view-playlist>
	</div>
<!-- END CURRENT PLAYLIST -->
</div>

</main>

<player></player>
