<div class="col s12 master-tile">
    <div class="card horizontal">
      <div class="card-image">
        <a ng-href=''>
          <a href='' ng-click='useDiscogsMaster(master)'>
            <div class='album-cover-frame'>
              <img class="album-cover" ng-src="{{master.thumb || albumImgPlaceHolder }}">
            </div>
          </a>
      </a>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5>{{master.title}}</h5>
          <i>{{master.year}}</i>

          <p>
          <div class="chip" ng-repeat='genre in master.genre'>
            {{genre}}
          </div>

          <div class="chip" ng-repeat='style in master.style'>
            {{style}}
          </div>
        </p>
        <a class='right' href='' ng-show='!showInfo' ng-click='getMoreInfo(master)'><i class='material-icons'>info</i>More Info</a>
        <a class='right' href='' ng-show='showInfo' ng-click='showInfo = false'><i class='material-icons'>info</i>Less Info</a>
      </div>
        <div ng-show='info && showInfo'>
          <strong>Notes</strong>
          <p>
            <i>{{info.notes}}</i>
          </p>
          <ul>
            <li>
              <strong>Country:</strong> {{info.country}}
            </li>
            <li>
              <strong>Year:</strong> {{info.year}}
            </li>
            <li>
              <strong>Styles:</strong> {{info.styles.join(", ")}}
            </li>
            <p ng-show='info.tracklist'>
              <strong>Tracklist:</strong>
              <ul>
                <li ng-repeat='track in info.tracklist'>
                  {{track.title}} <span ng-show='track.duration'> - </span> {{track.duration}}
                </li>
              </ul>
            </p>
          </ul>

        </div>
      </div>
    </div>
  </div>
