<footer class='footer'>
<div id='bottom' class='container-fluid'>
    <div class='container'>
    <div class='row'>
        
            
            <div id='controls' class='col-md-3'>
                
                <i class='glyphicon glyphicon-fast-backward'></i>
                <i class='glyphicon glyphicon-play'></i>
                <i class='glyphicon glyphicon-fast-forward'></i>
                &nbsp;
                <span id='playtime'>2:08</span>
                
                
                
            </div>
            
            <div class='col-md-9'>
            <input type='range' class='navbar-right' id='progress' />
            </div>
            
        </div>
    </div>

</footer>