<footer class='page-footer'>
<div id='bottom'>

    <div class='row'>


            <div id='controls' class='col m4 '>

              <div class='valign-wrapper'>
                <i class='medium valign material-icons player-control' ng-click='PlayCtrl.back()' ng-dblclick='PlayCtrl.backBack()'>skip_previous</i>
                <i class="medium valign material-icons player-control" ng-click='PlayCtrl.playToggle()'>{{PlayCtrl.getIsPlaying() ? "pause_circle_filled" : "play_circle_outline" }}</i>
                <i class='medium valign material-icons player-control' ng-click='PlayCtrl.next()'>skip_next</i>
                &nbsp;
                <span id='playtime' class=''>{{PlayCtrl.secToMinSec(PlayCtrl.progress)}}</span>
                <span id='totalTime' class=''>/ {{PlayCtrl.secToMinSec(PlayCtrl.getActiveTrack().stop - PlayCtrl.getActiveTrack().begin)}}</span>

              </div>

            </div>

            <div class='col m8'>
              <div class='valign-wrapper'>
            <input type='range' class='valign' id='progress' min='0' max='{{PlayCtrl.getActiveTrack().stop - PlayCtrl.getActiveTrack().begin}}' ng-model='PlayCtrl.progress' ng-change='PlayCtrl.scrub()'/>
          </div>
            </div>

        </div>


</footer>
