<footer class='footer'>
<div id='bottom' class='container-fluid'>
    <div class='container'>
    <div class='row'>
        
            
            <div id='controls' class='col-md-3'>
                
                <i class='glyphicon glyphicon-fast-backward' ng-click='PlayCtrl.back()' ng-dblclick='PlayCtrl.backBack()'></i>
                <i ng-class="PlayCtrl.isPlaying ? 'glyphicon glyphicon-pause' : 'glyphicon glyphicon-play'" ng-click='PlayCtrl.playToggle()'></i>
                <i class='glyphicon glyphicon-fast-forward' ng-click='PlayCtrl.next()'></i>
                &nbsp;
                <span id='playtime'>{{PlayCtrl.secToMinSec(PlayCtrl.progress)}}</span>
                <span id='totalTime'>/ {{PlayCtrl.secToMinSec(PlayCtrl.activeTrack.stop - PlayCtrl.activeTrack.begin)}}</span>
                
                
                
            </div>
            
            <div class='col-md-9'>
            <input type='range' class='navbar-right' id='progress' min='0' max='{{PlayCtrl.activeTrack.stop - PlayCtrl.activeTrack.begin}}' ng-model='PlayCtrl.progress'/>
            </div>
            
        </div>
    </div>

</footer>