<a class='collection-item' ng-class='{active: isActiveTrack(track)}'>
  <i class='material-icons' ng-click='playToggle(track)'>{{ isActiveTrack(track) && PlayCtrl.getIsPlaying() ? 'pause' : 'play_arrow' }}</i>
  <span>{{track.artist}} - {{track.trackName}}<span class='hidden-controls'><i class="material-icons right" aria-hidden="true" ng-click='removeTrack(track)'>delete</i><i class="material-icons right" aria-hidden="true" ng-click='captureTrack(track)'>add</i><i ng-click='moveTrack(track, -1)' class='fa fa-long-arrow-up right'></i><i ng-click='moveTrack(track, 1)' class='fa fa-long-arrow-down right'></i></span><span class='right detail track-length'>{{PlayCtrl.secToMinSec(track.stop - track.begin)}}</span></span>
</a>
