<a href='' class='collection-item' ng-class='{active: PlayCtrl.isActiveList(list)}' class='collection-item'>
    <i class='material-icons'>assessment</i><span class='artist-name truncate' ng-model='list.naame' ng-blur="PlayCtrl.editList(list, 'name', null, $event)">{{list.name}}</span><small> by {{list.createdBy.userName}}</small><span class='hidden-controls'><i ng-click='PlayCtrl.deleteList(list)' class='material-icons right'>delete</i></span><span class='right track-count detail'>{{list.tracks.length || 0}} songs</span>
</a>
