<div class='collection-item crate-line-item row' ng-class='{active: isActiveTrack(track)}'>
  <div class='col s10 m11 valign-wrapper'>
    <i class='material-icons valign' ng-click='playToggle(track)'>{{ isActiveTrack(track) && PlayCtrl.getIsPlaying() ? 'pause' : 'play_arrow' }}</i>
    <span class='valign'>{{track.artist}} - {{track.trackName}}</span>
  </div>
  <div class="col s2 m1 valign-wrapper">
    <i class="material-icons hidden-controls" aria-hidden="true" ng-click='captureTrack(track)'>playlist_add</i>
  <span class='right track-length align-right detail'>{{PlayCtrl.secToMinSec(track.stop - track.begin)}}</span>
  </div>
</div>
