<a href='' class='collection-item' ng-class='{active: PlayCtrl.isActiveList(list)}' ng-click="PlayCtrl.setActiveList(list)" class='collection-item'>
    <i class='material-icons' ng-click='PlayCtrl.editList(list, "name", $index)'>assessment</i><span class='artist-name truncate' contenteditable="true" ng-model='list.naame' ng-blur="PlayCtrl.editList(list, 'name', null, $event)">{{list.name}}</span><small> by {{list.createdBy.userName}}</small><span class='right detail'>{{list.tracks.length || 0}} songs</span>
</a>
