<div id='playlists' class='panel panel-default'>
                <div class='panel-heading'>
                    <h3>Playlists</h3>
                </div>
                <div class='panel-body'>
                    <ul class='list-unstyled tracklist'>
                        
                            <div ng-click="PlayCtrl.setViewList(list)" ng-class='{selected: PlayCtrl.isViewList(list)}' ng-repeat='list in PlayCtrl.lists' >
                                <li>
                                    <div class='list-item'><i class='glyphicon glyphicon-music'></i>{{list.artistName}} - {{list.albumName}}<span class='pull-right'>{{list.tracks.length || 0}} songs</span></div>
                                </li>
                                <li><hr></li>
                            </div>

                        
                        
                    </ul>
                </div>
            </div>