<div class='row'>
<!-- GUIDE -->
<div class='col-md-4 hidden-xs'>
	<div id='upload-video' class='panel panel-default'>
	    <div class='panel-heading'>
	        <h3>Select Video</h3>
	    </div>
	    <div class='panel-body'>
	        <ul class='list-unstyled'>
	            <li>
	        <div class='form-horizontal'>
	            <input id='videoId' type='text' class='input-lg' placeholder='Youtube Video Id' ng-model='currentUpload.videoId' ng-show='uploadStep == 0' />
	            <input id='artistName' type='text' class='input-lg' placeholder='Artist Name' ng-model='currentUpload.artist' ng-show='uploadStep == 1' />
	            <input id='albumName' type='text' class='input-lg' placeholder='Album Name' ng-model='currentUpload.albumName' ng-show='uploadStep == 1' />
	        
	    </div>
	</li>
	    <li><hr></li>
	</ul>
	<input type='button' class='btn btn-success' ng-value='uploadStep == 2 ? "Upload!" : "Next Step"' ng-click='uploadStep == 2 ? uploadAlbum() : nextStep()'></input>
	<input type='button' class='btn btn-danger' value='Reset' ng-click='resetUpload()'></input>
	<hr>
	{{instructions[uploadStep]}}
	    </div>
	</div>
</div>

<!-- END GUIDE -->

<!-- UPLOAD TRACKS -->
<div class='col-md-8'>
	<div id='uploader' class='panel panel-default'>
	<div class='panel-heading'>
		<h3>Tracks <i class='glyphicon glyphicon-plus pull-right' ng-click='currentUpload.addTrack()' ng-show='uploadStep == 2'></i></h3>
	</div>
	<div class='panel-body'>
		<ul class='list-unstyled' >
			
	        <div class='list-item' ng-repeat='track in currentUpload.createdTracks'>
	            <li>
		                <div class='row'>
		                	<span class='col-md-1'><h2>{{track.trackNum}}</h2></span>
		                	<input type='text' class='input-lg col-md-4' ng-model='track.trackName' placeholder='Track name' />
		                	<!-- pull-right is reversing these!!! -->
		                	<input type='text' class='input-lg col-md-1 col-md-offset-4' ng-model='track.begin' placeholder='Start time' />
		                	<input type='text' class='input-lg col-md-1' ng-model='track.stop' placeholder='Stop time' />
		                	
		                </div>
	            
	            </li>
	            <li><hr></li>
	        </div>    
	               
	    </ul>
	    </div>
	</div>
</div>

<!-- END UPLOAD TRACKS -->
</div>