<div class='results'>

                <h3 ng-show='!this.editing' ng-click='this.editing = true' class='truncate'>{{currentPlaylist.name}}</h3>
                <input type='text' ng-show='this.editing' ng-model='currentPlaylist.name' ng-blur='editList(currentPlaylist, $event); this.editing = false;' />



                <div class='collection music-list' >

                        <playlist-song-item ng-repeat='track in currentPlaylist.tracks'></playlist-song-item>



                </div>

        </div>`


          <!-- <main>
            <div class='row list-header cyan'>
              <div class='col m3 offset-m1'>
                <img class='' ng-src='{{ getCurrentPlaylist().imgUrl || albumImgPlaceHolder }}'></img>
              </div>
              <div class='col m8'>
                <h3>{{ getCurrentPlaylist().name }} <small class=''><i class='material-icons'>favorite</i> {{getCurrentPlaylist().likes || 0}}<i class='material-icons'>play_arrow</i> {{getCurrentPlaylist().plays || 0}} <i class='material-icons'>list</i> {{getCurrentPlaylist().tracks.length}} tracks</small>
                  <small class='right'>

                </small></h3>
                <a ng-href='#/artist-profile/{{album.artistId}}'>{{album.artist}}</a>

                <p>
                  {{getCurrentPlaylist().description}}
                </p>
                <div class="chip" ng-repeat='tag in album.tags'>
                  {{tag}}
                </div>

              </div>
            </div>
            <div class='row'>
              <div class='col s12 m8 offset-m2'>




            <div class='collection' >
                    <list-song-item ng-repeat='track in getCurrentPlaylist().tracks'></list-song-item>
            </div>
          </div>
        </div>
        </main>

        </div> -->
