<header>

<nav ng-show='searchMode'>
  <div class='nav-wrapper'>
        <form ng-submit='search()'>
        <div class="input-field">
            <input id="search" type="search" ng-model='searchField' required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons" ng-click='searchMode = false'>close</i>
          </div>
        </form>
  </div>
</nav>



<nav ng-show='!searchMode'>
  <div class="nav-wrapper" >
    <div class='row' >
      <div class='col m4'>
        <a href="#/" class="brand-logo"><i class='material-icons'>album</i>crate</a>
      </div>


    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click='searchMode = true'><i class='material-icons'>search</i></a></li>
      <li ng-show='user.isLoggedIn()'><a href="#/home">Playlists</a></li>
      <li ng-show='user.isLoggedIn()'><a href="#/upload">Upload</a></li>
      <li ng-show='user.isLoggedIn()'><a href="#/user/{{user.info.userId}}">My Crate</a></li>
      <li></li>
    </ul>
    <small ng-show='user.isLoggedIn()' class='right'>Welcome back, {{getUser().userName}}!<small> <a href='' ng-click='logOut()'>(log out)</a></small></small>
    <small ng-show='!user.isLoggedIn()' class='right'><a href='#/login'>Log in</a></small>

</div>
  </div>
</nav>
</header>
