<div ng-init='init()'>
  <nav-bar></nav-bar>
  <main>
    <div class='row list-header cyan'>
      <div class='col m3 offset-m1'>
        <img class='' ng-src='{{ album.imgUrl || albumImgPlaceHolder }}'></img>
      </div>
      <div class='col m8'>
        <h3>{{ album.name }} <small class=''><i class='material-icons'>favorite</i> {{album.favorites || 0}}<i class='material-icons'>play_arrow</i> {{album.listens || 0}} <i class='material-icons'>list</i> {{album.noTracks}} tracks</small>
          <small class='right'>

        </small></h3>
        <a ng-href='#/artist-profile/{{album.artistId}}'>{{album.artist}}</a>

        <br>

        <p> discovered {{ album.foundOn | date}} by <a ng-href='#/user/{{album.foundBy.userId}}'>{{ album.foundBy.userName}}</a></p>
        <div class="chip" ng-repeat='tag in album.tags'>
          <a ng-href='#/search-results/tag/{{tag}}'>{{tag}}</a>
        </div>
        <p>
          <div class='mini-control-panel grey lighten-2'>
            <a href=''  ng-click='crateToggle(album)'><i class='material-icons' ng-class="album.iLikeThis ? 'in-my-crate' : '' ">favorite</i></a>
            <a href=''  ng-click='saveAlbumAsPlaylist(album, tracks)'><i class='material-icons'>save</i></a>
        </div>
      </p>
      </div>
    </div>
    <div class='row'>
      <div class='col s12 m8 offset-m2'>


    <!-- Dropdown Trigger -->


    <div class='collection' >
            <list-song-item ng-repeat='track in tracks'></list-song-item>
    </div>
  </div>
</div>
</main>

  <player></player>
</div>
