<nav-bar></nav-bar>
<div>
  <div ng-init='init()'>

    <main>

      <div class='row cyan' ng-show='showProfile == false'>
        <div class='col s3 l1 valign-wrapper'>
        <img src='{{ userProfile.picUrl || userProfileImgPlaceholder }}' class='circle small-pic responsive-img valign' />
      </div>
      <div class='col s9 l11 white-text'>
        <h4>{{userProfile.userName}}'s Crate</h4>
        <small class='action right' ng-click='showProfile = true'>show more...</small>
      </div>
      </div>
      <div ng-show='showProfile' class='row list-header cyan'>
        <div class='col m3 offset-m1'>
          <img class='' ng-src='{{ userProfile.picUrl || userProfileImgPlaceholder }}'></img>
        </div>
        <div class='col m8'>
          <h3>{{ userProfile.userName }} <small class=''><i class='material-icons'>favorite</i>{{userProfile.favorites }} favorites <i class='material-icons'>remove_red_eye</i>{{albums.length || 0}} discoveries <i class='material-icons'>view_list</i>{{playlists.length || 0 }} playlists</small>
            <small class='right'>

          </small></h3>
          member since {{ userProfile.joinedOn | date}}
          <p>
            {{ userProfile.bio || "Really cool story about userProfile??!?!" }}
          </p>
          <ul>

        </div>
        <small class='action right white-text' ng-click='showProfile = false'>show less...</small>
      </div>
      <div class='subtle-container'>
        <div class='row center-align'>
        <a class='btn' ng-click="setView('tracks')">
          <i class='material-icons'>clear_all</i>
        </a>
        <a class='btn' ng-click="setView('albums')">
          <i class='material-icons'>queue_music</i>
        </a>
        <a class='btn' ng-click="setView('artists')">
          <i class='material-icons'>assignment_ind</i>
        </a>

        <!-- <a class='btn' ng-click="setView('discoveries')">
          <i class='material-icons'>remove_red_eye</i>
        </a> -->
        <a class='btn' ng-click="setView('playlists')">
          <i class='material-icons'>view_list</i>
        </a>
      </div>

      <!-- Dropdown Trigger -->
    <div class='row'>
      <div class='col s12 m9'>
      <div ng-show="viewing == 'tracks'">
      <h3>Tracks</h3>
      <!-- <div class="row">
        <div class="col m1">
          Sort by:
        </div>
        <div class="col m2">
          <select class="" name="">
            <option value="date">Date Added</option>
            <option value="shit">Alphabetical</option>
          </select>
        </div>
        <div class="col m2">
          <select class="" name="">
            <option value="">Ascending</option>
            <option value="">Descending</option>
          </select>
        </div>
        <div class="col m7">
          <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </div>

      </div> -->

      <div ng-show='crateTracks.length > 0' class='collection music-list'>
        <list-song-item ng-repeat='track in crateTracks'></list-song-item>
      </div>
      <i ng-show='crateTracks.length == 0'>You have't added any tracks to your crate!</i>
    </div>

      <div ng-show="viewing == 'playlists'">
        <h3>Playlists <small><a href='' ng-click='newPlaylist()'>new playlist <i class='material-icons'>add</i></a></small></h3>
        <div ng-show='playlists.length > 0' class='row' >
        <playlist-tile ng-repeat='playlist in playlists'></playlist-tile>
      </div>
      <i ng-show='playlists.length == 0'>You haven't added any playlists to your crate!</i>
    </div>

    <div ng-show="viewing == 'albums'">
      <h3>Albums</h3>
      <div ng-show='albums.length > 0' class='row tile-rack' >
        <ul class='collection'>
          <album-item ng-repeat='album in albums'></album-item>
        </ul>
      </div>
      <i ng-show='albums.length == 0'>You haven't added any albums to your crate!</i>
    </div>

      <!-- <div ng-show="viewing == 'discoveries'">
        <h3>My discoveries</h3>
        <div class='row tile-rack' >
        <album-tile ng-repeat='album in discoveries'></album-tile>
        </div>
      </div> -->

      <div ng-show="viewing == 'artists'">
      <h3>Artists</h3>
      <div ng-show='crateArtists.length > 0' class='collection music-list'>
        <artist-item ng-repeat='artist in crateArtists'></artist-item>
      </div>
      <i ng-show='crateArtists.length == 0'>You haven't added any artists to your crate!</i>
    </div>

  </div>

  <div class='col m3 music-list' ng-show="onWeb || viewing == 'recent'">
    <h4>Recently listened</h4>
    <div class='scroll-container'>
    <div ng-repeat='group in userProfile.recentlyListenedItemGroups'>
      <strong>{{group[0].dateAdded | date}}</strong>
      <ul>
        <li ng-repeat='item in group'>
          <div ng-controller='trackCtrl' class="chip list-item recently-listened-item truncate" ng-class="{teal : isActiveTrack(item.track) }" >
            <span class='valign-wrapper'> <i ng-click='playToggle(item.track, true)' class='material-icons valign action'>{{ isActiveTrack(item.track) && PlayCtrl.getIsPlaying() ? 'pause' : 'play_arrow'}}</i>{{item.track.trackName}}&nbsp;<small> by <a ng-href='#/artist-profile/{{item.track.artistId}}'>{{item.track.artist}}</a> {{item.dateAdded | date: "h:mm a" }}</small></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
    <!-- <ul>
      <li ng-repeat='item in userProfile.recentlyListenedItems'>
      <div ng-controller='trackCtrl' class="chip list-item recently-listened-item truncate" ng-class="{teal : isActiveTrack(item.track) }" >
        <span class='valign-wrapper'> <i ng-click='playToggle(item.track, true)' class='material-icons valign action'>{{ isActiveTrack(item.track) && PlayCtrl.getIsPlaying() ? 'pause' : 'play_arrow'}}</i>{{item.track.trackName}}&nbsp;<small> by <a ng-href='#/artist-profile/{{item.track.artistId}}'>{{item.track.artist}}</a> {{item.dateAdded | date}}</small></span>
      </div>
    </li>
    </ul> -->
  </div>

</div>
  </div>
  </main>


  </div>

</div>
<player></player>
