<nav-bar></nav-bar>
<div>
  <div ng-init='init()'>

    <main>
      <div class='row list-header cyan'>
        <div class='col m3 offset-m1'>
          <img class='' ng-src='{{ userProfile.picUrl || userProfileImgPlaceholder }}'></img>
        </div>
        <div class='col m8'>
          <h3>{{ userProfile.userProfileName }} <small class=''><i class='material-icons'>favorite</i>{{userProfile.favorites.length || 0}} favorites <i class='material-icons'>remove_red_eye</i>{{albums.length || 0}} discoveries <i class='material-icons'>view_list</i>{{playlists.length || 0 }} playlists</small>
            <small class='right'>

          </small></h3>
          member since {{ userProfile.joinedOn | date}}
          <p>
            {{ userProfile.bio || "Really cool story about userProfile??!?!" }}
          </p>
          <ul>
            <li><i class="fa fa-facebook-official" aria-hidden="true"></i><i>{{ userProfile.facebook || "n/a" }}</i></li>
            <li><i class="fa fa-instagram" aria-hidden="true"></i><i>{{ '@' + userProfile.instagram || 'n/a' }}</i></li>
            <li><i class="fa fa-soundcloud" aria-hidden="true"></i><i>{{ userProfile.soundcloud || 'n/a' }}</i></li>
            <li><i class="fa fa-twitter" aria-hidden="true"></i><i>{{ userProfile.twitter || 'n/a' }}</i></li>
            <li><i class="fa fa-snapchat-ghost" aria-hidden="true"></i><i>{{ userProfile.snapchat || 'n/a'}}</i></li>
          </ul>
        </div>
      </div>
      <div class='subtle-container'>
        <div class='row center-align'>
        <a class='btn' ng-click="setView('tracks')">
          <i class='material-icons'>clear_all</i>
        </a>
        <a class='btn' ng-click="setView('albums')">
          <i class='material-icons'>queue_music</i>
        </a>
        <a class='btn' ng-click="setView('artists')">
          <i class='material-icons'>assignment_ind</i>
        </a>

        <!-- <a class='btn' ng-click="setView('discoveries')">
          <i class='material-icons'>remove_red_eye</i>
        </a> -->
        <a class='btn' ng-click="setView('playlists')">
          <i class='material-icons'>view_list</i>
        </a>
      </div>

      <!-- Dropdown Trigger -->

      <div ng-show="viewing == 'tracks'">
      <h3>Tracks</h3>
      <div ng-show='crateTracks.length > 0' class='collection music-list'>
        <list-song-item ng-repeat='track in crateTracks'></list-song-item>
      </div>
      <i ng-show='crateTracks.length == 0'>You have't added any tracks to your crate!</i>
    </div>

      <div ng-show="viewing == 'playlists'">
        <h3>Playlists</h3>
        <div ng-show='playlists.length > 0' class='row tile-rack' >
        <playlist-tile ng-repeat='playlist in playlists'></playlist-tile>
      </div>
      <i ng-show='playlists.length == 0'>You haven't added any playlists to your crate!</i>
    </div>

    <div ng-show="viewing == 'albums'">
      <h3>Albums</h3>
      <div ng-show='albums.length > 0' class='row tile-rack' >
      <album-tile ng-repeat='album in albums'></album-tile>
      </div>
      <i ng-show='albums.length == 0'>You haven't added any albums to your crate!</i>
    </div>

      <!-- <div ng-show="viewing == 'discoveries'">
        <h3>My discoveries</h3>
        <div class='row tile-rack' >
        <album-tile ng-repeat='album in discoveries'></album-tile>
        </div>
      </div> -->

      <div ng-show="viewing == 'artists'">
      <h3>Artists</h3>
      <div ng-show='crateArtists.length > 0' class='collection music-list'>
        <artist-item ng-repeat='artist in crateArtists'></artist-item>
      </div>
      <i ng-show='crateArtists.length == 0'>You haven't added any artists to your crate!</i>
    </div>





  </div>
  </main>


  </div>

</div>
