<nav-bar></nav-bar>
<div>
  <div ng-init='init()'>

    <main>
      <div class='row list-header cyan'>
        <div class='col m3 offset-m1'>
          <img class='' ng-src='{{ user.picUrl || userImgPlaceholder }}'></img>
        </div>
        <div class='col m8'>
          <h3>{{ user.userName }} <small class=''><i class='material-icons'>favorite</i>{{user.favorites.length || 0}} favorites <i class='material-icons'>remove_red_eye</i>{{albums.length || 0}} discoveries <i class='material-icons'>view_list</i>{{playlists.length || 0 }} playlists</small>
            <small class='right'>

          </small></h3>
          member since {{ user.joinedOn | date}}
          <p>
            {{ user.bio || "Really cool story about user??!?!" }}
          </p>
          <ul>
            <li><i class="fa fa-facebook-official" aria-hidden="true"></i><i>{{ user.facebook || "n/a" }}</i></li>
            <li><i class="fa fa-instagram" aria-hidden="true"></i><i>{{ '@' + user.instagram || 'n/a' }}</i></li>
            <li><i class="fa fa-soundcloud" aria-hidden="true"></i><i>{{ user.soundcloud || 'n/a' }}</i></li>
            <li><i class="fa fa-twitter" aria-hidden="true"></i><i>{{ user.twitter || 'n/a' }}</i></li>
            <li><i class="fa fa-snapchat-ghost" aria-hidden="true"></i><i>{{ user.snapchat || 'n/a'}}</i></li>
          </ul>
        </div>
      </div>
      <div class='subtle-container'>
        <div class='row center-align'>
        <a class='btn' ng-click="setView('favorites')">
          <i class='material-icons'>favorite</i>
        </a>
        <a class='btn' ng-click="setView('albums')">
          <i class='material-icons'>remove_red_eye</i>
        </a>
        <a class='btn' ng-click="setView('playlists')">
          <i class='material-icons'>view_list</i>
        </a>
      </div>

      <!-- Dropdown Trigger -->

      <div class='row tile-rack' ng-show="viewing == 'playlists'">
        <playlist-tile ng-repeat='list in playlists'></playlist-tile>
      </div>

      <div class='row tile-rack' ng-show="viewing == 'albums'">
      <album-tile ng-repeat='album in albums'></album-tile>
      </div>

      <h1 ng-show="viewing == 'favorites'">favorites</h1>



  </div>
  </main>


  </div>

</div>
