<nav-bar></nav-bar>

<div class='row list-header cyan hide-on-med-and-down' ng-init='init()'>
  <div class='subtle-container'>
    <h3>Browse Crate by genre...</h3>
    <div class="chip" ng-repeat='tag in topTags'>
      <a ng-href='#/search-results/tag/{{tag.text}}'>{{tag.text}} <span class='tag-subtext'>({{tag.occurences}})</span></a>
    </div> <small ng-hide='tagsAreDone()'><a href='' class='contrast' ng-click='moreTags()'>more...</a></small>
</div>
</div>

<div class='container'>
<div >

  <h3>Recent uploads</h3>
  <div class='row'>
  <div class='tile-rack'>
    <album-tile ng-repeat='album in latestAlbums'></album-tile>
</div>
</div>
<div class='row center-align'>
  <a class='' href='' ng-click='getMoreAlbums()'>Show more...</a>
</div>
  <h3>Recent playlists</h3>
  <div class='row tile-rack'>
    <playlist-tile ng-repeat='playlist in latestPlaylists'></playlist-tile>
    <!-- <album-tile></album-tile> -->
  </div>
  <div class='row center-align'>
    <a class='' href='' ng-click='getMorePlaylists()'>Show more...</a>
  </div>

</div>
</div>

<player></player>
