<nav-bar></nav-bar>

<div class='row list-header light-blue lighten-3 hide-on-med-and-down' ng-init='init()'>
  <div class='container'>
    <div class="row">
      <div class="col s12 m8 offset-m2 ">
        <div class="header">
          <img src="img/cratewtext.svg" id="main-logo" align="middle">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <p class='center-align'>
          mycrate.io is a place to store, organize, and share rare and obscure music you find on Youtube. Learn more about mycrate.io <a href="/about">here.</a>
        </p>
      </div>
    </div>


    <h5>Browse Crate by genre...</h5>
    <div class="chip" ng-repeat='tag in topTags'>
      <a ng-href='/search-results/tag/{{tag.text}}'>{{tag.text}} <span class='tag-subtext'>({{tag.occurences}})</span></a>
    </div>
    <div class="chip" ng-hide='tagsAreDone()'>
      <a href='' class='' ng-click='moreTags()'>more...</a>
    </div>
</div>
</div>

<div class='container'>
<div >
  <div class="row">

    <div class="col s6 valign-wrapper">
      <i class='material-icons'>av_timer</i><strong>popular</strong>
    </div>
    <div class="col m1 s2 offset-m5 offset-s4">
      <i class="fa fa-arrow-circle-left action" aria-hidden="true" ng-click='lastPageOfPopularAlbums()'></i>
      <i class="fa fa-arrow-circle-right action" aria-hidden="true" ng-click='nextPageOfPopularAlbums()'></i>
    </div>
  </div>

  <div class='row'>
  <div class='tile-rack'>
    <album-tile ng-repeat='album in popularAlbums'></album-tile>
  </div>
  </div>

    <div class="col s6 valign-wrapper">
      <i class='material-icons'>av_timer</i><strong>recent albums</strong>
    </div>
    <div class="col m1 s2 offset-m5 offset-s4">
      <i class="fa fa-arrow-circle-left action" aria-hidden="true" ng-click='lastPageOfAlbums()'></i>
      <i class="fa fa-arrow-circle-right action" aria-hidden="true" ng-click='nextPageOfAlbums()'></i>
    </div>
  </div>

  <div class='row'>
  <div class='tile-rack'>
    <album-tile ng-repeat='album in viewAlbums'></album-tile>
</div>
</div>

  <div class="row">

    <div class="col s6 valign-wrapper">
      <i class='material-icons'>av_timer</i><strong>recent playlists</strong>
    </div>
    <div class="col m1 s3 offset-m5">
      <i class="fa fa-arrow-circle-left action" aria-hidden="true" ng-click='lastPageOfPlaylists()'></i>
      <i class="fa fa-arrow-circle-right action" aria-hidden="true" ng-click='nextPageOfPlaylists()'></i>
    </div>
  </div>
  <div class='row tile-rack'>
    <playlist-tile ng-repeat='playlist in viewPlaylists'></playlist-tile>
    <!-- <album-tile></album-tile> -->
  </div>


</div>
</div>

<player></player>
